@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --white: #ffffff;
  --off-white: #fafafa;
  --black: #0b0b0b;
  --grey: #888888;
  --dark-grey: #252525;
  --red: #f85149;
  --dark-red: #da3633;
  --blue: #38bdf8;
  --dark-blue: #58a6ff;
  --purple: #a371f7;
  --yellow: #e3b341;
  --green: #56d364;
  --dark-green: #3fb950;
}

html {
  scroll-padding-top: 120px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  /* user-select: none; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 80px 80px;
  font-family: "Space Grotesk", monospace;
  color: var(--white);
}

a {
  color: var(--blue);
  word-break: break-word;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  text-decoration-color: rgb(from var(--blue) r g b / 50%);
  transition: 0.15s ease;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  color: var(--white);
  text-decoration-color: var(--white);
}

::selection {
  background-color: var(--white);
  color: var(--black);
}