.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding-left: 5%;
  padding-right: 5%;
}

.content {
  width: 80%;
  max-width: 800px;
  border: thin solid var(--white);
  position: relative;
  background-color: var(--black);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.content::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -20px;
  border: thin solid var(--white);
  z-index: -1;
}

.content span {
  font-size: 40px;
  line-height: 60px;
}

.highlight-red {
  background: linear-gradient(to right, #f44336, #f05);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.highlight-purple {
  background: linear-gradient(to right, #50f, #f0f);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 850px) {
  .content-container {
    flex-direction: column;
  }

  .content span {
    font-size: 20px;
    line-height: 30px;
  }

  .content {
    padding: 30px;
    width: 100%;
  }

  .content::before {
    right: -10px;
    bottom: -10px;
  }
}