.socials {
    display: flex;
    flex-direction: column;
    width: 60px;
    margin-right: 10px;
    position: fixed;
    right: 0;
    bottom: 30px;
}

.socials a {
    color: unset;
}

.socials a::after {
    all: unset;
}

.ico {
    font-size: 30px;
    background-color: #f1f1f1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 20%);
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.ico::before {
    content: "";
    width: 125%;
    height: 125%;
    background-color: var(--black);
    position: absolute;
    rotate: -45deg;
    left: -110%;
    top: 90%;
}

.ico:hover i {
    transition: .4s;
    transform: scale(1.3);
    color: var(--white);
}

.ico:hover::before {
    animation: wobble 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes wobble {
    0% {
        left: -110%;
        top: 90%;
    }

    50% {
        left: 10%;
        top: -30%;
    }

    100% {
        top: -10%;
        left: -10%;
    }
}

@media screen and (max-width: 768px) {
    .socials {
        display: none;
    }
}